
html,
body {
    height: 100%;
}


header, nav {
    background: #FF69B4;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #FF69B4 !important;
    }
}


footer {
    background: #FF69B4!important;
}