
html, body {
    height: 100%;
}


header, nav {
    background:#FF7AA2;
}

@media screen and (max-width: 400px) and (max-width: 992px) {
    header {
        background: #FF7AA2 !important;
    }
}


footer {
    background: #FF7AA2!important;
}