
html,
body {
    height: 100%;
}


header, nav {
    background: #FF69B4;
}

@media screen and (max-width: 400px) and (max-width: 954px) {
    header {
        background: #FF69B4 !important;
    }
}


footer {
    background: #FF69B4!important;
}